{
  "extends": "eslint-config-cycle",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules" : {
    "no-console": 1,
    "no-debugger": 2,
    "quotes": [1, "single", "avoid-escape"],
    "comma-dangle": [2, "never"],
    "new-cap": [0]
  }
}
